-- Check if get_unread_message_count function exists
SELECT proname FROM pg_proc WHERE proname = 'get_unread_message_count';

-- Check ticket_reads table structure
SELECT column_name, data_type, is_nullable FROM information_schema.columns 
WHERE table_name = 'ticket_reads' ORDER BY ordinal_position;

-- Check RLS policies on ticket_reads
SELECT schemaname, tablename, policyname, permissive, roles, cmd, qual 
FROM pg_policies WHERE tablename = 'ticket_reads';

-- Check if ticket_reads is in real-time publication
SELECT pubname, schemaname, tablename FROM pg_publication_tables 
WHERE tablename = 'ticket_reads';
