-- Create ticket_reads table and related components

-- 5. ticket_reads (for unread message tracking)
CREATE TABLE ticket_reads (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    ticket_id UUID NOT NULL REFERENCES tickets(id) ON DELETE CASCADE,
    user_id TEXT NOT NULL REFERENCES users(clerk_id) ON DELETE CASCADE,
    last_read_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    UNIQUE(ticket_id, user_id)
);

-- Enable RLS
ALTER TABLE ticket_reads ENABLE ROW LEVEL SECURITY;

-- Policies
CREATE POLICY \
Users
can
view
their
own
read
timestamps\ ON ticket_reads
    FOR SELECT USING (user_id = auth.jwt() ->> 'sub' AND EXISTS (SELECT 1 FROM users WHERE clerk_id = auth.jwt() ->> 'sub' AND active = true));

CREATE POLICY \Users
can
insert
their
own
read
timestamps\ ON ticket_reads
    FOR INSERT WITH CHECK (user_id = auth.jwt() ->> 'sub' AND EXISTS (SELECT 1 FROM users WHERE clerk_id = auth.jwt() ->> 'sub' AND active = true));

CREATE POLICY \Users
can
update
their
own
read
timestamps\ ON ticket_reads
    FOR UPDATE USING (user_id = auth.jwt() ->> 'sub' AND EXISTS (SELECT 1 FROM users WHERE clerk_id = auth.jwt() ->> 'sub' AND active = true));

-- Add to real-time publication
ALTER PUBLICATION supabase_realtime ADD TABLE ticket_reads;

-- Add indexes
CREATE INDEX idx_ticket_reads_ticket_id ON ticket_reads(ticket_id);
CREATE INDEX idx_ticket_reads_user_id ON ticket_reads(user_id);
