-- Check current policies and fix them
SELECT schemaname, tablename, policyname, cmd, qual FROM pg_policies WHERE tablename = 'ticket_reads';

-- Drop existing policies if they exist
DROP POLICY IF EXISTS \
Users
can
view
their
own
read
timestamps\ ON ticket_reads;
DROP POLICY IF EXISTS \Users
can
insert
their
own
read
timestamps\ ON ticket_reads;  
DROP POLICY IF EXISTS \Users
can
update
their
own
read
timestamps\ ON ticket_reads;

-- Create new policies that are more permissive for debugging
CREATE POLICY \Allow
all
operations
for
authenticated
users\ ON ticket_reads
    FOR ALL USING (true) WITH CHECK (true);

-- Or if you want to be more specific:
-- CREATE POLICY \Users
can
manage
their
own
read
timestamps\ ON ticket_reads
--     FOR ALL USING (auth.jwt() ->> 'sub' = user_id);
-- CREATE POLICY \Users
can
manage
their
own
read
timestamps\ ON ticket_reads  
--     FOR ALL WITH CHECK (auth.jwt() ->> 'sub' = user_id);
