-- Re-enable RLS and create proper policies
ALTER TABLE ticket_reads ENABLE ROW LEVEL SECURITY;

-- Drop any existing policies
DROP POLICY IF EXISTS \
Allow
all
operations
for
authenticated
users\ ON ticket_reads;
DROP POLICY IF EXISTS \Users
can
view
their
own
read
timestamps\ ON ticket_reads;
DROP POLICY IF EXISTS \Users
can
insert
their
own
read
timestamps\ ON ticket_reads;
DROP POLICY IF EXISTS \Users
can
update
their
own
read
timestamps\ ON ticket_reads;

-- Create proper policies that work with Clerk JWT
CREATE POLICY \Users
can
manage
their
own
read
timestamps\ ON ticket_reads
    FOR ALL USING (auth.jwt() ->> 'sub' = user_id)
    WITH CHECK (auth.jwt() ->> 'sub' = user_id);

-- Alternative: Allow all operations but check user exists
-- CREATE POLICY \Authenticated
users
can
manage
read
timestamps\ ON ticket_reads
--     FOR ALL USING (EXISTS (SELECT 1 FROM users WHERE clerk_id = auth.jwt() ->> 'sub'))
--     WITH CHECK (EXISTS (SELECT 1 FROM users WHERE clerk_id = auth.jwt() ->> 'sub'));
