-- Check current RLS policies
SELECT schemaname, tablename, policyname, permissive, roles, cmd, qual 
FROM pg_policies WHERE tablename = 'ticket_reads';

-- Check if function exists
SELECT proname FROM pg_proc WHERE proname = 'get_unread_message_count';

-- If policies are missing, create them
CREATE POLICY \
Users
can
view
their
own
read
timestamps\ ON ticket_reads
    FOR SELECT USING (user_id = auth.jwt() ->> 'sub' AND EXISTS (SELECT 1 FROM users WHERE clerk_id = auth.jwt() ->> 'sub' AND active = true));

CREATE POLICY \Users
can
insert
their
own
read
timestamps\ ON ticket_reads
    FOR INSERT WITH CHECK (user_id = auth.jwt() ->> 'sub' AND EXISTS (SELECT 1 FROM users WHERE clerk_id = auth.jwt() ->> 'sub' AND active = true));

CREATE POLICY \Users
can
update
their
own
read
timestamps\ ON ticket_reads
    FOR UPDATE USING (user_id = auth.jwt() ->> 'sub' AND EXISTS (SELECT 1 FROM users WHERE clerk_id = auth.jwt() ->> 'sub' AND active = true));

-- If function is missing, create it
CREATE OR REPLACE FUNCTION get_unread_message_count(p_ticket_id UUID, p_user_id TEXT)
RETURNS INTEGER AS \$\$
DECLARE
    last_read_time TIMESTAMP WITH TIME ZONE;
    unread_count INTEGER;
BEGIN
    -- Get the last read timestamp for this user and ticket
    SELECT last_read_at INTO last_read_time
    FROM ticket_reads
    WHERE ticket_id = p_ticket_id AND user_id = p_user_id;

    -- If no read timestamp exists, all messages are unread
    IF last_read_time IS NULL THEN
        SELECT COUNT(*) INTO unread_count
        FROM messages
        WHERE ticket_id = p_ticket_id;
    ELSE
        -- Count messages created after the last read time
        SELECT COUNT(*) INTO unread_count
        FROM messages
        WHERE ticket_id = p_ticket_id
        AND created_at > last_read_time;
    END IF;

    RETURN unread_count;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
